/* tabla de peliculas */
.datosmovie{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-style: italic;
  font-size: 15px;
  background-color: white;
  text-decoration:none;
}
.datosmovie:hover{
  background-color: white;
}
.div_table{
  display: flex;
  justify-content: center;
  background-color: white;

}
.table {
  border-collapse: collapse;
  border: 1px solid #CCC;
  font-size: 12px;
  width: 100%;
  height: 100%
}

th {
  font-weight: bold;
  background-color: #E1E1E1;
  padding:5px;
  border: 1px solid #CCC;
}

tbody tr:hover td {
  background-color: #F3F3F3;
}

td {
  padding: 5px 10px;
  border: 1px solid #CCC;
  padding: 30px
}


/* Botones */
.button {

  padding: 5px 5px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #001284;
  border: none;
  border-radius: 2px;
  box-shadow: 3px 3px #999;
}

.button:hover {background-color: #E8BD0C}

.button:active {
  background-color: #E8BD0C;
  box-shadow: 0 5px #E8BD0C;
  transform: translateY(4px);
}

.button_eliminar {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px 0px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 2px;
  box-shadow: 3px 3px #999;
}

.button_eliminar:hover {background-color: red}

.button_eliminar:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* navbar*/

.lisnav {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: -9px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #188AFF;
}

.active {
  background-color: #4CAF50;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #FFFED4;
  color: black;

  }


            /* login */
.div_login{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5%;


}
.login{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 27px;
  background-color: #ccc;
}

.button2 {
  /* display: inline-block; */
  padding: 5px 5px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #26397F;
  border: none;
  border-radius: 2px;
  box-shadow: 3px 3px #999;
}

.button2:hover {background-color: #5BCCC0}

.button2:active {
  background-color: #E8BD0C;
  box-shadow: 0 5px #E8BD0C;
}

.section_login{
  display: flex;
  flex-direction: column;
  padding-top: 7%;
}
.section_newMovie{
  color: white;
}

.body_image_inicio{
 
  background-image: url("../image/silla-de-director-de-cine-797.jpg"); */
}

.background_image_index{
  background-image: url("../image/fondo_newMovies.jpg")
}

body{
  height: 100%;
  padding: 1px; 
  background-color: #081926;
  font-family: helvetica;
}

main{
  background-repeat: repeat;
}
/* @media screen and (max-width: 600px){
    ul.listnav li.right,
    ul.lisnav li {float: none;}
} */


/* footer */

.footer{
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0 8px 38px;
  width: 730px;
  overflow: hidden;
  color: white;
}


.as{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 20%;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}
/* prueba */


.container_image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* padding: 50px 20px; */
}

.contenedor_hijo {
  text-align: center;
  padding: 20px;
  z-index: 1;
}

.imagen_cartel {
  width: 200px;
  height: 300px;
}



.div-imagen {
  display:inline-block;
  position:relative;
}

.div-imagen > div {
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  padding:10px;
  margin:0;
}

.desvanecer:hover {
  opacity: 0.20;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}






