{% extends 'base/base.html' %}
{% block content %}
<head>
  <body>
    <nav>
      <ul class="lisnav">
        <li><a href="/" class="liNav">Home</a></li>
        <li><a href="/newMovie" class="liNav">New Movie</a></li>
     </ul>
  </nav>
</head>
<table class="table">
  <thead>
    <tr>
      <!-- <th>Id</th> -->
      <th>Name</th>
      <th>Year</th>
      <th>Category</th>
      <th>Director</th>
      <th>Distributed by</th>
      <th>Image</th>
      <th>Delete Movie</th>
    </tr>

  </thead>
  <!-- tabla donde se muestran las peliculas registradas-->
  <tbody>
    {% for movie in movies %}
      <tr>
        <!-- <td><a href="/movies/{{movie.id}}">{{ movie.id }}</a></td> -->
        <td><a class="datosmovie" href="/movies/{{movie.id}}">{{ movie.name }}</a></td>
        <td><a class="datosmovie" href="/movies/{{movie.id}}">{{ movie.year }}</a></td>
        <td><a class="datosmovie" href="/movies/{{movie.id}}">{{ movie.category }}</a></td>
        <td><a class="datosmovie" href="/movies/{{movie.id}}">{{ movie.director }}</a></td>
        <td><a class="datosmovie" href="/movies/{{movie.id}}">{{ movie.distributed }}</a></td>
        <td><a class="datosmovie" href="/movies/{{movie.id}}">{{ movie.image }}</a></td>
        <td><a class="button_eliminar" href="/movies/delete/{{movie.id}}">Delete</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

  </body>
{% endblock %}
