<!DOCTYPE html>
<html>
<title>InfoMovie</title>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/main.css">
        <nav>
            <ul class="lisnav">
               <li><a href="/" class="liNav">Home</a></li>
               <li><a href="/movies/"  class="">Movies</a></li>
               <li><a href="/newMovie" class="liNav">Nueva pelicula</a></li>
               <li><a href="/viewMovies" class="">viewMovies</a></li>
            </ul>
         </nav>
</head>
<body>
  
    <div class="infoMovie">
        <h1>{{movies.name}}</h1>
        <img  src="{{url_for('static', filename = movies.image)}}" height="200px">
        <p>{{movies.director}}</p>
        <p>{{movies.year}}</p>
        <p>{{movies.sinopsis}}</p>
        
    </div>
    
</body>
</html> 