{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html>
   <body>
     <form action = '/movies/' method = "POST">
       <label for = "name">Name</label><br>
       <input type = "text" name = "name" placeholder = "Name" /><br>
       <label for = "email">City</label><br>
       <input type = "text" name = "city" placeholder = "city" /><br>
       <label for = "addr">addr</label><br>
       <textarea name = "addr" placeholder = "addr"></textarea><br>
       <label for = "PIN">City</label><br>
       <input type = "text" name = "pin" placeholder = "pin" /><br>
       <input type = "submit" value = "Submit" />
     </form>

   </body>
</html>
{% endblock %}
