{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <nav>
           <ul class="lisnav">
              <li><a href="/" class="liNav">Home</a></li>
              <li><a href="/movies/"  class="">Movies</a></li>
              <li><a href="/newMovie" class="liNav">Nueva pelicula</a></li>
              <li><a href="/viewMovies" class="">viewMovies</a></li>
              <li><a href="/viewUsers" class="liNav">Usuarios</a></li>
           </ul>
        </nav>
    </head>
<body class="body_newMovie">
<section class="section_newMovie">

  <!-- formulario para agregar una nueva pelicula -->
  <div class="formNewMovie">

      <fieldset>
          <P>
              <legend for "Movie">NEW MOVIE:</legend>
        <form action = '/movies/' method = "POST" enctype="multipart/form-data">
          </P>
          <P>
              <label for = "name">Name:</label><br>
              <input required type = "text" name = "name" placeholder = "Name" /><br>
          </P> 
          <p>
          <label for = "year">year:</label><br>
          <input required type = "number" name = "year" placeholder = "year" /><br>
          </p>
          <p>
          <label for = "category">category:</label><br>
          <input required type = "text" name = "category" placeholder = "category" /><br>
          </p>
          <p>
          <label for = "director">director:</label><br>
          <input required type = "text" name = "director" placeholder = "director" /><br>
          </p>
          <p>
          <label for = "director">distributed:</label><br>
          <input required type = "text" name = "distributed" placeholder = "distributed" /><br>
          </p>
          <p>
            <label for = "sinopsis">sinopsis:</label><br>
            <input required type = "text" name = "sinopsis" placeholder = "sinopsis" /><br>
            </p>
          <label for= "image">Image:</label><br>
          <input required type="file" name="image">
          <p>
              <input type = "submit" class= "button" value = "Submit" />
          </p>
        </fieldset>
    </form>
</div>
</section>
<footer class="footer">
        <p>Posted by: </p>
        <p>Contact information: <a href=""></a>Contact@contact.com</p>
      </footer> 
</body>
</html>
{% endblock %}
