
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/main.css">
    <nav>
       <ul class="lisnav">
          <li><a href="/" class="liNav">Home</a></li>
          <li><a href="/movies/"  class="">Movies</a></li>
          <li><a href="/newMovie" class="liNav">Nueva pelicula</a></li>
          <li><a href="/viewMovies" class="">viewMovies</a></li>
       </ul>
    </nav>
</head>

{% from "_formhelpers.html" import render_field %}
<form method="POST">
    <dl>
        {{ render_field(form.username) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        {{  render_field(form.accept_tos) }}
    </dl>
    <p><input type="submit" value="Register"></p>
</form> 
